.centerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    font-size:150px;
    background: -webkit-linear-gradient(purple,pink);
    background-clip: text;
    -webkit-text-stroke: 3px violet;
    -webkit-text-fill-color: transparent;
}

#Shrek {
    margin-top:100px;
    margin-left:40%;
    position: fixed;
    scale:1;
}